.idea
.venv
.iml
deployment/.env
deployment/copy_backups.sh
deployment/backups
deployment/docker-compose.override.yml
deployment/onedrive/data
deployment/sites-enabled/default.conf
deployment/volumes

__pycache__/

django_project/.pycharm_helpers/
celerybeat-schedule*
node_modules/
webpack-stats.*
secret.py
coverage.xml

django_project/.env
django_project/dashboard/bundles/
django_project/dashboard/stats.json
