{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    {% load render_bundle from webpack_loader %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/require.js' %}"></script>
    <script src="{% static 'js/modules.js' %}"></script>
    <script src="{% static 'js/mapshaper.js' %}"></script>
{% endblock %}

{% block content %}


<div id="app"></div>
<script>
  const global = globalThis;
</script>
{% render_bundle 'App' 'css' %}
{% render_bundle 'App' 'js' %}

{% endblock %}

</html>
