:root {
    --primary-color: #1CABE2;
    --error-color: red;
    --secondary-color: #374EA2;
    --anti-primary-color: #FFFFFF;
    --anti-secondary-color: #FFFFFF;
    --tertiary-color: #297CC2;
    --anti-tertiary-color: #FFFFFF;
    --primary-color-transparent:rgba(28,171,226, 0.5);
}

