/* ==========================================================================
   Dashboard specific style
   ========================================================================== */

@import 'variables';


.SideNavigation {
  background: white;
  width: 200px;
  min-width: 200px;
  box-shadow: $box-shadow-sm;
  padding: 0.2rem;
  overflow-y: auto;
  z-index: 1;

  @include media(small-down) {
    width: auto;
    min-width: 3em;
  }
}

.SideNavigation-Row {
  border-radius: $border-radius;
  color: $base-black-color;
  cursor: pointer;
  display: flex;
  padding: 0.5rem 0.5rem;

  &:hover {
    opacity: 0.5;
  }

  &.active {
    background-color: $primary-color;
    color: $anti-primary-color;

    &:hover {
      opacity: 1;
    }
  }

  .SideNavigation-Row-Icon {
    margin-right: 0.5rem;
  }

  .SideNavigation-Row-Name {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include media(small-down) {
    .SideNavigation-Row-Icon {
      margin-right: 0;
    }
    .SideNavigation-Row-Name {
      display: none;
    }
  }
}
