@import './variables.scss';

.tiling-config-matrix {
    .MuiButton-root:disabled {
        opacity: unset;
        color: unset;
    }
    tr > th {
        text-align: center;
    }
}

.tiling-configuration-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .action-button {
        min-width: 125px;
        font-size: 0.875rem;
    }
}

.tiling-input-tooltip {
    padding-left: 5px;
}

.live-preview-desc {
    text-align: left;
}

.tiling-desc-note {
    text-align: justify;
    margin-top: 10px;
    padding-right: 10px;
}