.UploadWizard {
  min-height: 300px;

  .MuiBox-root {
    padding-top: 10px !important;
  }
  .description-box {
    text-align: left;
  }
  .UploadWizardContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    &.scrollable {
      overflow-y: auto;
    }
    .Step2Content {
      overflow-y: auto;
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }
}

.Step2 {
  .MuiButtonBase-root {
    min-height: 40px;
    height: 100%;

    &.MuiTableSortLabel-root {
      min-height: unset;
    }
  }
}


.Step1 {
  .dzu-inputLabelWithFiles {
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    width: 150px;
    padding: 0.5rem 1rem !important;
  }
  .dzu-dropzone {
    &.dzu-dropzoneDisabled {
      opacity: 1;
    }
  }
}

.Step3Container {
  .Step3Content {
    overflow-y: auto;
  }
}

.text-success {
  color: green;
}

.text-error {
  color: red;
}

.UploadAlertMessage {
  width: 750px;
  text-align: left;

  .MuiAlert-message {
    width: 100%;
  }
}

.tg-sample-excel {
  border-collapse: collapse;
  border-spacing: 0;
  td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
  }
  th {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
  }
  .tg-0lax {
    text-align:left;
    vertical-align:top
  }
}
