.ql-toolbar {
  display: none;
}

.ql-container {
  min-height: 100px;
  border-radius: 5px;
  border-top: 1px solid #ccc !important;
}

.check-result {
  text-align: left;
  font-size: 13px;
}

.invalid {
  color: red;
}

.MuiListItemText-primary {
  font-weight: bold;
}

.MuiListItemText-secondary {
  font-size: 10px !important;
  font-style: italic;
}

.keyword {
  font-weight: bold;
  color: #00005f;
}

.table {
  color: #0a7373;
}