{% extends "admin/change_list.html" %}

{% block extrahead %}
<script>
    function fetchLanguages () {
        const url = '{% url "fetch-languages" %}';
        fetch(url, {
          method: 'POST',
          credentials: 'same-origin',
          headers: {
              "X-CSRFToken": "{{ csrf_token }}"
          }
        }).then(
          response => response.status === 201 ? location.reload() : alert('Failed to fetch data'))
    }
</script>
{% endblock %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="#" id="fetch-languages" class="btn btn-high btn-success" onclick="fetchLanguages()">Fetch languages</a>
</li>
{% endblock %}