<!-- templates/navbar.html -->
{% load static %}
<div class="header-root">
    <div class="nav-header">
        <ul class="nav-header menu">
            <li class="nav-header-logo">
                <a href="/" class="nav-header-link">
                    <img src={% static 'PngItem_2238067.png' %} alt="Logo">
                </a>
            </li>
            <li class="nav-header-separator">
                <div></div>
            </li>
            <li class="nav-header-title">
                <button type="button">
                    <a href="/" class="nav-header-link">GeoRepo</a>
                </button>
            </li>
        </ul>
    </div>
</div>